<%- include ('../layouts/main', {title: "Create Blog", body: ""}) %>

<h2>Create a new blog</h2>
<form action="">
    <label for="title"></label>
    <input type="text" name="title" id="title">
    <label for="body">Body</label>
    <textarea name="body" id="body" type="text"></textarea>

    <button type="submit">Create new Blog</button>
</form>